-content_for :css do
  %link{ rel: 'stylesheet', type: 'text/css', href: '/buckets_list.css' }

%h1= bucket

%h2
  #{walls.length} saved layout#{"s" unless walls.length == 1}
%ol
  - walls.each do |wall|
    %li
      = wall[:name]
      %a{ href: "/test?src=#{wall[:url]}" } Preview
      %a{ href: "/walls/#{bucket}/edit/#{wall[:name]}"} Edit

%h2
  #{images.length} image#{"s" unless images.length == 1}
  %a#click-to-upload{ href: '#' } Upload more

%ul
  - images.each do |image|
    %li
      %figure.tile-thumb
        %img{ src: image }
        %figcaption= image.split('/').last

#drop-screen
  #drop-target{ data: {bucket: bucket } }
    %h1
      Drag to upload
      %a#hide-upload{ href: '#' } (Hide)
    %ol.file-list

%script#file-template{ type: 'text/template' }
  %li
    %span {{basename}}
    %span.status Pending

%script{ type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js'}
%script{ type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'}
%script{ type: 'text/javascript', src: '/ajaxupload.js' }
%script{ type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js'}
%script{ type: 'text/javascript', src: '/upload.js'}
