- content_for :css do
  %link{ rel: 'stylesheet', type: 'text/css', href: '/buckets_list.css' }

%section.main
  %h1 Existing Photo Buckets

  %form#new-bucket{ action: '/api/buckets/', method: 'POST' }
    %label
      Create new image bucket:
      %input{ type: "text", name: "bucket"}
      %button{ type: "submit" } Create!
      %span.status

  %ul#bucket-list
    - buckets.each do |bucket|
      %li.bucket
        %a.bucket-name{ href: "/walls/#{bucket[:name]}"}= "> " + bucket[:name]
        %a.show-layouts{ href: '#'}= "(#{bucket[:walls].length})"
        %a.new-layout{ href: "/walls/#{bucket[:name]}/build" } (New)
        %ol.walls
          - bucket[:walls].each do |wall|
            %li.wall
              = wall[:pretty_name]
              %a{ href: "/test?src=#{wall[:url]}" } Preview
              %a{ href: "/walls/#{bucket[:name]}/edit/#{wall[:name]}"} Edit

  %script#list-template{ type: 'text/template' }
    %li.collapsed
      %a{ href: "/walls/{{name}}" } {{name}}
      %a{ href: "/walls/{{name}}/upload" } Upload images
      %a{ href: "/walls/{{name}}/build" } New layout
      %ol 0 saved layouts

%script{ type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js'}
%script{ type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js'}
%script{ type: 'text/javascript', src: '/buckets_list.js'}
